<div class="columns">
  <div class="column">
    <%= render "navbar" %>
  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">
    <%= render "menu_panel" %>
  </div>
  <div class="column">
    <%= render "feed" %>
  </div>
  <div class="column is-one-third">
    <%= render "documentation_panel" %>
    <%= render "events_panel" %>
  </div>
</div>

